{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Our Products</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for item in items %}
        <div class="col">
            <div class="card h-100" data-item-name="{{ item.name }}" data-item-price="{{item.price}}" data-item-currency="{{item.currency}}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <p class="h4">${{ item.price }}</p>
                </div>
                <div class="card-footer bg-transparent">
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-primary buy-now" data-item-id="{{ item.id }}" href="{% url 'item_detail' item.pk %}">
                            View details
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}