{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Our Products</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for item in items %}
        <div class="col">
            <div class="card h-100" data-item-name="{{ item.name }}" data-item-price="{{item.price}}" data-item-currency="{{item.currency}}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <p class="h4">${{ item.price }}</p>
                </div>
                <div class="card-footer bg-transparent">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-outline-primary add-to-cart" 
                                data-item-id="{{ item.id }}">
                            Add to Cart
                        </button>
                        <a class="btn btn-primary buy-now" data-item-id="{{ item.id }}" href="#">
                            View details
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Cart Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="cart-items">
                    <!-- Cart items will be inserted here -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continue Shopping</button>
                <button type="button" class="btn btn-primary" id="checkout-button">Checkout</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    const data = JSON.parse('{{ stripe_publishable_key|safe|escapejs }}')
    console.log("Data:", data);
    const stripe = Stripe('{{ stripe_publishable_key }}');
</script>
{% endblock %}