{% extends 'base.html' %}
{% block content %}
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <p>Price: {{ item.price }} {{ item.get_currency_display }}</p>
    
    <!-- Checkout Session Approach -->
    <button class="btn btn-primary" id="buy-item-button" data-item-id="{{item.id}}">Buy with Checkout</button>
    
    <!-- Payment Intent Approach -->
    <button id="item-payment-button" class="btn btn-primary" data-item-id="{{item.id}}"="">Pay with Payment Element</button>
        
    <div id="payment-element" class="payment-element" style="display:none;">
        <!-- Stripe Payment Element will be inserted here -->
    </div>
    
    <script>
        // Checkout Session
       
        
        // Payment Intent
       
    </script>
{% endblock content %}